<meta name="viewport" content="width=device-width, initial-scale=1">
html
  head
    link(href="main.css", rel="stylesheet", type="text/css")
  body
    mixin box(image, title)
      .box
        img(src= image)
        .text= title
    header
      a(href="#")
        h1 JAY BAPTISTA
      nav
        a(href="http://twitter.com/jaythenewblack") twitter
        a(href="about.html") about
    .wrap 
      +box("images/astro.jpg", "guy and a gun")
