@import url(http://fonts.googleapis.com/css?family=Karla:400,700,700italic,400italic);
.red {
  background-color: #FC625D !important;
  color: #F6F6F6 !important; }

.green {
  background-color: #50E3C2 !important;
  color: #383F4A !important; }

.yellow {
  background-color: #F8E71C !important;
  color: #383F4A !important; }

.black {
  background-color: #383F4A !important;
  color: #F6F6F6 !important; }

.gray {
  background-color: #aaa !important;
  color: #333 !important; }

.white {
  background-color: #F6F6F6 !important;
  color: #383F4A !important; }
  .white h1 {
    color: inherit; }
    .white h1 a:hover {
      color: #F6F6F6 !important;
      background-color: #383F4A !important;
      -webkit-transition: .2s;
              transition: .2s; }

body {
  background-color: #F0F0F0;
  margin: 0;
  overflow: auto;
  font-family: Karla, sans-serif; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

h1 {
  font-size: 2rem; }

.block-hold {
  margin-top: 10%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .block-hold .info {
    line-height: 1.5;
    overflow: scroll;
    color: #F6F6F6; }
    .block-hold .info h1, .block-hold .info p, .block-hold .info nav {
      text-align: center; }
      .block-hold .info h1 a, .block-hold .info p a, .block-hold .info nav a {
        text-decoration: none;
        color: white;
        padding: 0 10px; }
        .block-hold .info h1 a:hover, .block-hold .info p a:hover, .block-hold .info nav a:hover {
          color: #50E3C2;
          -webkit-transition: .2s;
                  transition: .2s; }
  .block-hold .block {
    color: white;
    background-color: #037AFF;
    width: 340px;
    height: 350px; }
    .block-hold .block h1 {
      text-align: center;
      margin-top: 20%; }
      .block-hold .block h1 a {
        text-decoration: none;
        color: inherit; }
        .block-hold .block h1 a:hover {
          background-color: #F6F6F6;
          color: #383F4A;
          -webkit-transition: .2s;
                  transition: .2s; }
    .block-hold .block p {
      margin: 30px; }

@media screen and (max-width: 640px) {
  .blockhold {
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
    .blockhold .block {
      width: 100% !important; } }
