@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;1,300&display=swap');
:root {
  --bg-color: white;
  --acc-1: #FF8200;
  --acc-2: #FFC100;
  --dark: #0A0903;
}

html {
  box-sizing: border-box;
}

::selection {
  color: var(--bg-color);
  background: #FCD63C;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: var(--bg-color);
  background: #FCD63C;
  /* Gecko Browsers */
}

*, *:before, *:after {
  box-sizing: inherit;
}

.long-form-body {
  margin: 1em 4em;
}

body {
  width: 65%;
  background-color: var(--bg-color);
  margin: 10px;
  font-family: 'Source Serif Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  padding: 2em;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  color: var(--dark);
}

.header {
  color: var(--acc-1);
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0px 0px 0px;
}

a {
  color: var(--acc-1);
  text-decoration: none;
  font-style: normal;
}

a:hover {
  background-color: #FCD63C;
  transition: 0.2s;
  color: var(--dark);
  font-style: italic;
}

.profile {
  width: 500px;
  padding: 30px;
}

.item {
  margin: 10px 0px 10px 0;
  padding: 10px 0px;
  width: 75%;
}

.floatlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.img {
  margin: 5px;
  width: 300px;
  padding: 20px;
  /* border-radius: 50%; */
}

.img .caption {
  padding: 10px;
  border-bottom: 1px solid var(--dark);
}

.bullet {
  display: flex;
  padding: 10px;
  border-left: 1px solid var(--acc-1);
  width: 300px;
  font-style: italic;
}

h2 {
  font-style: italic;
}

@media screen and (max-width: 900px) {
  .long-form-body {
    width: 100%;
    margin: 1em 2em;
  }

  .header {
    font-size: 36px;
  }

  .profile {
    width: 100%;
  }

  body {
    font-size: 18px;
    padding: .5em;
    line-height:2.0em;
  }
  .item {
    width: 95%;
  }
}